extends ./base.pug

block content 
    form.writeForm(action="#" method="POST")
        div.writeWrapper
            div.writeWrapper__guide TITLE
            div.writeWrapper__content
                input(type="text" name="title" value=data.title readonly)
        div.writeWrapper
            div.writeWrapper__guide AUTHOR
            div.writeWrapper__content
                input(type="text" name="author" value=data.author readonly)
        div.descWrapper
            div.descWrapper__guide DESC
            div.descWrapper__content
                textarea(name="desc" readonly)=data.description
        

    form.listForm(action="/" method="GET")
        input(type="submit" value="LIST")